.navWrapper {
    grid-area: nav;
    margin: 0;
    list-style: none;
    padding: 20px;
  
    background-color: orange;
}

.nav {
    margin-bottom: 40px;
}

.navLink {
    color: #fff;
    text-decoration: none;
}

.navLink.active {
    color: gold;
}